<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('../../assets/images/hero_2.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h1>Update Car</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"  >
      <div class="col-lg-10 mb-5 mt-5"  style="margin: auto" >
        <form  [formGroup]="addcar" (submit)='submit()' >
          <div class="row">
            <div class="form-group col-md-6">
              <select style="text-align: center" class="form-control" placeholder="" formControlName="brand_id">
                <option *ngFor=" let brand of brandarray" [value]="brand._id">{{brand.brand_name}}</option>
              </select>
  
            </div>
            <div class="form-group col-md-6">
              <input type="text"style="text-align: center" class="form-control" placeholder="car name" formControlName="car_names">
            </div>
            <div class="form-group col-md-6">
              <input type="text" style="text-align: center"class="form-control" placeholder=" car description" formControlName="description">
            </div>
            <div class="form-group col-md-6">
              <input type="number" min="0"style="text-align: center" class="form-control" placeholder=" hourly rent " formControlName="hourly_rent">
            </div>
      
            <div class="form-group col-md-6">
              <input type="file" style="text-align: center" class="form-control" placeholder=" status " (change)="photo($event)">
            </div>
      
            <div class="form-group col-md-6">
              <input type="number" min="0" style="text-align: center" class="form-control" placeholder=" original pice" formControlName="original_price">
            </div>
           </div>
  
          <div class="row" style="text-align:center">
            <div class="col-md-6 mx-auto">
              <button type="submit" class="btn btn-primary" >Add</button>
          </div>
          </div>
        </form>
        
      </div>
     
    </div>
   
  
  