<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('../../assets/images/hero_2.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h1>Brand Details</h1>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="ftco-blocks-cover-1">
<div class="card-body" >
    <div class="col-lg-12 mb-12">
        <table class='table'>
            <tr class="table-dark">
                <th>Brand name</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{singlebrand.brand_name}}</td>
                <td>{{singlebrand.status  == true ? 'Inactive' : 'Active'}}</td>
            </tr>
        </table>
    </div>
   
  </div>
 
</div>

